<ion-view view-title="我">
  <ion-nav-buttons side="right">
      <button class="button button-clear icon-left ion-android-exit" ng-click="logout()">
          安全退出
      </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item>
        <!--不知何故，手机上无法显示embed标签-->
        <!--<embed src="img/iconfont-touxiang.svg" width="30" height="30" ></embed>-->
        <img src="img/iconfont-touxiang.svg" width="30" height="30">
        {{currentUserId}}
      </ion-item>

      <ion-item>
        <button ng-click="share()">微信分享</button>
        <div class="item item-divider">选择微信分享场景</div>
        <ion-radio ng-repeat="scene in weShareScenes" ng-model="weShareScene.choice" ng-value="scene">
          {{scene}}
        </ion-radio>
      </ion-item>

      <ion-item>      	
      	版本号:{{VersionNumber}}
      </ion-item>
      <ion-item>
        全局变量1:{{g1}}
      </ion-item>
      <ion-item>
        全局变量2:{{g2}}
      </ion-item>
      <ion-item>
      	<ly-scanbarcode></ly-scanbarcode>
      	{{barcodeResult.text}}
      </ion-item> 
      <!-- <ion-item> -->
        <label class="item item-input">
          <i class="icon ion-ios-person-outline positive"></i>
          <input type="text" placeholder="输入待生成二维码的内容" ng-model="qrText.srcQrText" ng-change="MakeQrCode()">
        </label>
        <div id="code"></div>
      <!-- </ion-item> -->
      <ion-item>
        <div id="barcodeTarget"></div>
      </ion-item>

      <ion-item>
        <button class='button button-clear icon-left ion-ios-camera button-calm' ng-click='getPhoto()'></button><br />
        {{errInfo}}<br />
        <img ng-src="{{lastPhoto}}" style="max-width: 100%" alt="camera test"/><br />
        {{lastPhoto}}
      </ion-item>   

      <ion-item>
        正确的密码是一个字母“Z”的形状哦！
        <div id="gesturepwd"></div>
      </ion-item>   
      <ion-item>
        <button ng-click="rqtNormal()">普通请求</button>
        <button ng-click="rqtNormal2()">普通请求2</button>
        <button ng-click="rqtNormal3()">DES加密请求</button>
      </ion-item>   

      <ion-item>
        <ion-datetime-picker ng-model="datetimeValue">
          {{datetimeValue | date: "yyyy-MM-dd HH:mm:ss"}}
        </ion-datetime-picker>          
      </ion-item>

      <ion-item>
        <img-box-scroll imgarray="[{url:'img/icon.png'},{url:'img/icon2.png'},{url:'img/icon3.png'},{url:'img/icon4.png'}]" candelete="true" imgindex="1">
        </img-box-scroll>
      </ion-item>

      <ion-item>
        <button ng-click="showPicture()">多图展示组件</button>
      </ion-item>

      <ion-item>
        <!-- 为 ECharts 准备一个具备大小（宽高）的Dom -->
        <div id="main" style="width: 100%;height:400px;"></div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
