<ion-view view-title="我">
  <ion-nav-buttons side="right">
      <button class="button button-clear icon-left ion-android-exit" ng-click="logout()">
          安全退出
      </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item>      	
      	版本号:{{VersionNumber}}
      </ion-item> 
      <ion-item>
      	<ly-scanbarcode></ly-scanbarcode>
      	{{barcodeResult.text}}
      </ion-item> 
      <!-- <ion-item> -->
        <label class="item item-input">
          <i class="icon ion-ios-person-outline positive"></i>
          <input type="text" placeholder="输入待生成二维码的内容" ng-model="qrText.srcQrText" ng-change="MakeQrCode()">
        </label>
        <div id="code"></div>
      <!-- </ion-item> -->
      <ion-item>
        <button>测试按钮</button>
      </ion-item>   
        <div id="barcodeTarget"></div>
      <ion-item>
        正确的密码是一个字母“Z”的形状哦！
        <div id="gesturepwd"></div>
      </ion-item>   
      <ion-item>
        <button ng-click="rqtNormal()">普通请求</button>
      </ion-item>   

      <ion-item>
        <ion-datetime-picker ng-model="datetimeValue">
          {{datetimeValue | date: "yyyy-MM-dd HH:mm:ss"}}
        </ion-datetime-picker>          
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
